html, body {
    height: 100%;
}
.container {
    position: relative;
    text-align: center;
    background-color: #eaeaea;
}
.displayBox {
    height: 350px;
    width: 300px;
    /*background-color: indianred;*/
    margin: 10px;
    float: left;
    /*color: white;*/
    font-family: 'Anton', sans-serif;
    font-size: 30px;
    padding-top: 75px;
    /*text-shadow: 1px 1px black;*/
}
.displayBox:nth-child(4), .displayBox:nth-child(7){
    clear: left;
}
.smallerFont {
    font-family: 'Abel', sans-serif;
    font-size: 17px;
}

.textArea {
    background-color: lightgrey;
    opacity: .5;
}
